<app-header></app-header>
 <!------------------------Title bar------------------------------------------>
 <mat-toolbar>
  <mat-toolbar-row style="position:fixed;top:8%;background-color:#9f9f9f;color:#fff">
    <span>Etat des paiements des dossiers à la caisse</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <!--------------------------------Search--------------------------------->
      <mat-toolbar>
        <mat-toolbar-row style="position:fixed;top:17%;background-color:#fff;">

        <div class="form-group search-div">
          <div class="row">
          <input type="text" class="form-control col-md-6" placeholder="recherche" [(ngModel)]="query" id="listSearch">
          <mat-icon matSuffix>search</mat-icon>
        </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="table-responsive" style="max-height:485px !important;overflow-y:scroll !important;" >

        <table class="table">
          <thead>
          <tr>
            <th>N° ordre de vente</th>
            <th>Nom du fournisseur</th>
            <th>N°Dossier</th>
            <th>N° lot</th>
            <th>Montant lot</th>
            <th>Montant encaissé</th>
            <th>Règlement en espèce ou virement </th>
            <th>Référence Ordre de virement</th>
            <th>Date / heure</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let caisse of caisses | filter: query | paginate :{itemsPerPage : tableSize,currentPage: page,totalItems : count}">
            <td><span>{{caisse.num_vente}}</span></td>
            <td><span>{{caisse.nom_four}}</span></td>
            <td><span>{{caisse.numero_doss}}</span></td>
            <td><span>{{caisse.num_lot}}</span></td>
            <td><span>{{caisse.montant_lot | currency :'XOF' : 'symbol' : '1.0' : 'fr'}}</span></td>
            <td><span>{{caisse.montant | currency :'XOF' : 'symbol' : '1.0' : 'fr'}}</span></td>
            <td><span>{{caisse.modepaie}}</span></td>
            <td><span>{{caisse.ref_virement}}</span></td>
            <td><span>{{caisse.date_recu | date:'dd/MM/y'}}</span></td>
          </tr>
          <tr>
            <td colspan="2">
              <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">
                  {{size}}
                </option>
              </select>
              </td>
              <td colspan="7">
              <pagination-controls
              previousLabel = "Précédent"
              nextLabel = "Suivant"
              (pageChange)="onTableDataChange($event)"></pagination-controls>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
    <app-footer></app-footer>



