<app-headerproc [deviceXs]="deviceXs"></app-headerproc>
<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-toolbar>
    <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p *ngIf="!deviceXs" >Dossier N° : {{dossiers['numero_doss']}}  | {{dossiers['intitule_doss']}}</p>
    <p *ngIf="deviceXs" class="font-size">Dossier N° : {{dossiers['numero_doss']}} </p>
  </mat-toolbar>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start" fxFlex="40"
      fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
      <!--Menu Selection-->
      <app-selec-menu></app-selec-menu>
      <!------------------>
    </mat-drawer>
    <mat-drawer-content>

      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
         <!------------------------Title bar------------------------------------------>
         <mat-toolbar>
          <mat-toolbar-row style="position:fixed;top:18%;background-color:#9f9f9f;color:#fff">
            <span>Publication résultat</span>
            <span class="example-spacer"></span>
          </mat-toolbar-row>
          <mat-toolbar-row>
          </mat-toolbar-row>
        </mat-toolbar>
          <!--------------------------------Search--------------------------------->
          <mat-toolbar>
            <mat-toolbar-row style="position:fixed;top:27%;background-color:#fff;">
            <button class="btn btn-sm btn-info" (click)="open(content)"><mat-icon>add</mat-icon></button>
            <div class="form-group search-div">
              <div class="row">
              <input type="text" class="form-control col-md-6" placeholder="recherche" [(ngModel)]="query" id="listSearch">
              <mat-icon matSuffix>search</mat-icon>
            </div>
            </div>


          </mat-toolbar-row>
        </mat-toolbar>
        <!--------------------------------->
        <!--<div class="border">
          <button (click)="open(content)" class="btn btn-md btn-outline-primary">
            Ajouter</button>
        </div>-->
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Rèf publication</th>
            <th>Date publication DGCMEF</th>
            <th>Nom attributaire provisoire</th>
            <th>Contentieux / litiges</th>
            <th>Fichier Pub.</th>
            <th>Fichier Lit.</th>
            <th>Action(s)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let resultat of resultats | filter: query | paginate :{itemsPerPage : tableSize,currentPage: page,totalItems : count}">
            <td><span>{{resultat.id}}</span></td>
            <td><span>{{resultat.num_par_res}}</span></td>
            <td><span>{{resultat.date_par_res | date:'dd/MM/y'}}</span></td>
            <td><span>{{resultat.nom_four}}</span></td>
            <td><span>{{resultat.litige}}</span></td>
            <td><span *ngIf="resultat.fichierpub"><a title="Fichier resultat" target="_blank" href="{{url}}{{resultat.fichierpub}}"><mat-icon>file_copy</mat-icon></a></span></td>
            <td><span *ngIf="resultat.fichierlitige"><a title="Document resultat" target="_blank" href="{{url}}{{resultat.fichierlitige}}"><mat-icon>file_copy</mat-icon></a></span></td>
            <td>

              <button (click)="openEdit(contentEdit, resultat)" class="btn btn-sm btn-warning">
                Modifier</button>
              <button (click)="openDelete(contentDelete, resultat)"class="btn btn-sm btn-danger">
                Supprimer</button>
                <button mat-raised-button class="btn btn-sm btn-info" type="button"
                printTitle="Lettre de publication"
                printSectionId="lettre"
                styleSheetFile="assets/pdf.css"
                ngxPrint>
              Lettre</button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">
                  {{size}}
                </option>
              </select>
              </td>
              <td colspan="5">
              <pagination-controls
              previousLabel = "Précédent"
              nextLabel = "Suivant"
              (pageChange)="onTableDataChange($event)"></pagination-controls>
            </td>
          </tr>
          </tbody>
        </table>

         <!------------------------------Lettre Publication------------------------------------------------>

         <div style="display:none" id="lettre">
          <div *ngFor="let resultat of resultats ">
              <table>
                <tr>
                  <td><br><br></td>
                  <td><br><br></td>
                  <td><br><br></td>
                </tr>
                <tr>
                  <td><br><br></td>
                  <td><br><br></td>
                  <td><br><br></td>
                </tr>
                <tr>
                  <td><br><br></td>
                  <td><br><br></td>
                  <td><br><br></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td align="center"><b>
                    Monsieur le Directeur Général<br>
                    du Contrôle des Marchés<br>
                    Publics et des Engagements<br>
                    Financiers
                  </b></td>
                </tr>
                <tr>
                  <td><br></td>
                  <td><br></td>
                  <td><br></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td><b>
                    Ouagadougou, {{resultat.date_par_res | date:'dd/MM/y'}}
                  </b></td>
                </tr>
                <tr>
                  <td><br></td>
                  <td><br></td>
                  <td><br></td>
                </tr>
                <tr>
                    <td>
                      <b><u>N/Réf : </u></b>IT/FT/N°___________/DM
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                  <!------------------Appel d'offre---------------------------------------------------------------->
                  <td *ngIf="resultat.mode !== 'DPX || DPA || DP'">
                      <b><u>Objet :</u></b>Résultats provisoires
                  </td>
                  <!------------------Demande de prix---------------------------------------------------------------->
                  <td *ngIf="resultat.mode === 'DPX || DPA || DP'">
                    <b><u>Objet :</u></b>Résultats provisoires
                </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><br></td>
                  <td><br></td>
                  <td><br></td>
                </tr>
                <tr>
                  <td>
                      <b>Monsieur le Directeur Général</b>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td><br></td>
                  <td><br></td>
                  <td><br></td>
                </tr>
                <tr>
                  <td colspan="3">
                      <!------------------Appel d'offre---------------------------------------------------------------->
                      <p *ngIf="resultat.mode !== 'DPX || DPA || DP'">
                        Nous vous communiquons par la présente, pour avis et publication, les résultats de l'analyse
                        des offres reçues à l’appel d’offres N° {{dossiers['numero_doss']}} relatif à {{dossiers['intitule_doss']}}.
                      </p>
                       <!------------------Demande de prix---------------------------------------------------------------->
                       <p *ngIf="resultat.mode === 'DPX || DPA || DP'">
                        Nous vous communiquons par la présente, pour avis et publication, les résultats de l'analyse
                        des offres reçues à la demande de prix N° {{dossiers['numero_doss']}} relatif à {{dossiers['intitule_doss']}}.
                      </p>

                        <p> Publication de l'avis	n° : Quotidien 3289 du mercredi 09 février  2022 des marchés publics</p>

                        <P>Financement : Fonds propres SONABEL</P>


                      <p>
                        Veuillez agréer, Monsieur le Directeur Général, l’expression de nos salutations distinguées.
                      </p>
                  </td>
                </tr>
                <tr>
                  <td><br><br></td>
                  <td><br><br></td>
                  <td><br><br></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Le Directeur Général</td>
                  <td></td>
                </tr>
                <tr>
                  <td><br><br><br><br></td>
                  <td><br><br><br><br></td>
                  <td><br><br><br><br></td>
                </tr>
                <tr>
                  <td></td>
                  <td style="font-size:11px;">Baba Ahmed COULIBALY</td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td style="font-size:11px;">Chevalier de l’Ordre de l’Etalon</td>
                  <td></td>
                </tr>
                <tr>
                  <td><br><br></td>
                  <td><br><br></td>
                  <td><br><br></td>
                </tr>

              </table>
          </div>
        </div>
        <!--------------------------MODAL NG TEMPLATE ADD NEW CAMINV------------------------------------>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Ajouter</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div class="row">
                <input type="hidden" id="dossier_id" name="dossier_id" class="form-control" [(ngModel)]="dossierid">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="num_par_res">Rèf publication</label>
                    <div class="input-group">
                      <input type="text" id="num_par_res" name="num_par_res" class="form-control" ngModel>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="date_par_res">Date publication DGCMEF</label>
                      <div class="input-group">
                        <input type="date" id="date_par_res" name="date_par_res" class="form-control" ngModel>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="attributaire">Nom attributaire provisoire</label>
                      <div class="input-group">
                        <select id="attributaire" name="attributaire" class="form-control" ngModel placeholder="Selectionner">
                          <option>Selectionner</option>
                          <option *ngFor="let soumissionaire of soumissionaires" value={{soumissionaire.fourID}}>{{soumissionaire.nom_four}} | {{soumissionaire.num_lot}}: {{soumissionaire.intitule_lot}}</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="litige">Contentieux / litiges</label>
                      <div class="input-group">
                        <textarea id="litige" name="litige" class="form-control" ngModel></textarea>
                      </div>
                    </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label for="fichierpub">Fichier de publication</label>
                    <div class="input-group">
                        <input type="file" id="fichierpub" name="fichierpub" (change)="selectImage($event)" class="form-control" ngModel/>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label for="fichierlitige">Décision pour les litiges</label>
                    <div class="input-group">
                        <input type="file" id="fichierlitige" name="fichierlitige" (change)="selectImage2($event)" class="form-control" ngModel/>
                    </div>
                </div>
              </div>
            </div>
              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info">Enregistrer</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>

              </div>

            </form>
          </div>
          <div class="modal-footer">
             </div>
        </ng-template>
        <!--------------------------MODAL NG TEMPLATE OFFRE DETAILS------------------------------------>
        <ng-template #contentDetails let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Invitation CAM details</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>


            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
          </div>
        </ng-template>
        <!--------------------------MODAL NG TEMPLATE caminv EDIT---------------------------------->
        <ng-template #contentEdit let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Modifier une invitation CAM</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="editForm" novalidate>
              <!--<input type="hidden" formControlName="dossier_id" class="form-control">-->
              <div class="row">
                <input type="hidden" formControlName="id" class="form-control">
                <input type="hidden" formControlName="dossier_id" class="form-control">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="num_par_res">Rèf publication</label>
                    <div class="input-group">
                      <input type="text" formControlName="num_par_res" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="date_par_res">Date publication DGCMEF</label>
                      <div class="input-group">
                        <input type="date" formControlName="date_par_res" class="form-control">
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="attributaire">Nom attributaire provisoire</label>
                      <div class="input-group">

                        <select formControlName="attributaire" class="form-control">
                          <option>Selectionner</option>
                          <option *ngFor="let soumissionaire of soumissionaires" value={{soumissionaire.fourID}}>{{soumissionaire.nom_four}} | {{soumissionaire.num_lot}}: {{soumissionaire.intitule_lot}}</option>
                        </select>
                      </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="litige">Contentieux / litiges</label>
                      <div class="input-group">
                        <textarea formControlName="litige" class="form-control"></textarea>
                      </div>
                    </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label for="fichierpub">Fichier de publication</label>
                    <div class="input-group">
                        <input type="file" formControlName="fichierpub" (change)="selectImage($event)" class="form-control"/>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label for="fichierlitige">Décision pour les litiges</label>
                    <div class="input-group">
                        <input type="file" formControlName="fichierlitige" (change)="selectImage($event)" class="form-control"/>
                    </div>
                </div>
              </div>
            </div>

              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Modifer</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
         </div>
        </ng-template>

        <!--------------------------MODAL NG TEMPLATE DELETE CONFIRM--------------------------------->
        <ng-template #contentDelete let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Etes vous sur de vouloir supprimmer cette donnée de la base ?</h3>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Valider</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>

            </div>
          </div>
          <div class="modal-footer">
          </div>
        </ng-template>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</article>
