.table{
	border-collapse:collapse;
	font-size:90%;
	background-color:#fff;
/*	background-color:#616161;*/
	color: #000;

}

.table tr{
	text-align:left;

}
.table.wrap tr{
	white-space:normal;
}

.table.trHover tr:hover{
	background: #90D0D2;
	color:#fff !important;

}

.table th  a{
    color:#fff !important;
}

.table th  a:hover{
    color: #367889;
	text-decoration:none;
}

.table th , .th{
    color:#fff;
	background-color:green;

	height:15px;
	padding:5px;
	border-right: 0.5px solid #fff;
}

.table.borderBottom td{
	border-bottom: 1px solid #d5d1d1;
}

.table td {
	height:20px;
	padding:5px;
	text-align:left;
	vertical-align:top;

}

.table.little{
	border-collapse:collapse;
	font-size:9px;
	padding:0;
	margin:0
}

.table.border{
	border:1px solid #909090;
}
.table.border th,.table.border td{
	border:1px solid #909090;
}


.table.little.width50 th, .table.little.width50 td{
	text-align:left;
	min-width:50px;
	font-weight:normal;
	height:5px;
	padding:2px;
	margin:0;
}
