/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/*regular style toast*/
@import '~ngx-toastr/toastr';


.container{
  margin-top:5%;
}

.border{
  padding: 10px;
}
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}
table .btn{
  margin: 2px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-size{font-size: small;}
/*max-width: 1140px;*/
/*-----*/
/*.container, .container-lg, .container-md, .container-sm, .container-xl {

  max-width: 100%;
  min-width: 500px;
  width: 100%;
}*/
/*-----*/
.modal-dialog {
  max-width: 1150px !important;
  min-width: 500px !important;
  width: 100% !important;
  margin: 1rem auto;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.5rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: .50rem !important;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}





