<app-header></app-header>
 <!------------------------Title bar------------------------------------------>
 <mat-toolbar>
  <mat-toolbar-row style="position:fixed;top:8%;background-color:#9f9f9f;color:#fff">
    <span>Suivi de l'éxécution des marchés</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <!--------------------------------Search--------------------------------->
    <mat-toolbar>
      <mat-toolbar-row style="position:fixed;top:17%;background-color:#fff;">
      <!--<button class="btn btn-sm btn-info" (click)="open(content)">Ajouter</button>-->
      <div class="form-group search-div">
        <div class="row">
        <input type="text" class="form-control col-md-6" placeholder="recherche" [(ngModel)]="query" id="listSearch">
        <mat-icon matSuffix>search</mat-icon>
      </div>
      </div>
    </mat-toolbar-row>
    </mat-toolbar>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>N° marché</th>
        <th>Taux traitement (%)</th>
        <th>Taux physique (%)</th>
        <th>Montant du marché </th>
        <th>Taux financier (%)</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let marche of marches | filter: query | paginate :{itemsPerPage : tableSize,currentPage: page,totalItems : count}; let i = index">
        <td><span>{{marche.num_ref}}</span></td>
        <td><span>{{marche.taux_avencement}}</span></td>
        <td><span></span></td>
        <td><span>{{marche.montant_total | currency :'XOF' : 'symbol' : '1.0' : 'fr'}}</span></td>
        <td><span></span></td>

      </tr>
      <tr>
        <td colspan="2">
          <select (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tableSizes">
              {{size}}
            </option>
          </select>
          </td>
          <td colspan="2">
          <pagination-controls
          previousLabel = "Précédent"
          nextLabel = "Suivant"
          (pageChange)="onTableDataChange($event)"></pagination-controls>
        </td>
      </tr>
      </tbody>
    </table>
</div>
<app-footer></app-footer>





