<app-header></app-header>
<div class="container">
  <div class="border">
    <button (click)="open(content)" class="btn btn-md btn-outline-primary">
      <i class="fa fa-priv" ></i>Ajouter</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Groupe</th>
      <th>Fonctionalite</th>
      <th>Consultation</th>
      <th>Ajout</th>
      <th>Modification</th>
      <th>Suppression</th>
      <th>Action(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let privilege of privileges">
      <td data-label="Groupe">{{privilege.name}}</td>
      <td data-label="Fonctionalite">{{privilege.libelle}}</td>

      <td data-label="Consultation" *ngIf="privilege.view == 1"><input class="form-check-input mt-0" type="checkbox" checked></td>
      <td data-label="Consultation" *ngIf="privilege.view !== 1"><input class="form-check-input mt-0" type="checkbox"></td>

      <td data-label="Ajout" *ngIf="privilege.add == 1"><input class="form-check-input mt-0" type="checkbox" checked></td>
      <td data-label="Ajout" *ngIf="privilege.add !== 1"><input class="form-check-input mt-0" type="checkbox"></td>

      <td data-label="Modification" *ngIf="privilege.edit == 1"><input class="form-check-input mt-0" type="checkbox" checked></td>
      <td data-label="Modification" *ngIf="privilege.edit !== 1"><input class="form-check-input mt-0" type="checkbox"></td>

      <td data-label="Suppression" *ngIf="privilege.remove == 1"><input class="form-check-input mt-0" type="checkbox" checked></td>
      <td data-label="Suppression" *ngIf="privilege.remove !== 1"><input class="form-check-input mt-0" type="checkbox"></td>

      <td>
        <!--<button (click)="openDetails(contentDetails, privilege)"  class="btn btn-sm btn-info">
          <i class="fa fa-search"></i>Details</button>-->
        <button (click)="openEdit(contentEdit, privilege)" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>Modifier</button>
        <button (click)="openDelete(contentDelete, privilege)"class="btn btn-sm btn-danger">
          <i class="fa fa-remove"></i>Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!--------------------------MODAL NG TEMPLATE ADD NEW priv------------------------------------>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label for="usergroup_id">Groupe utilisateur</label>
          <div class="input-group">
            <select id="usergroup_id" name="usergroup_id" class="form-control" ngModel placeholder="Selectionner">
              <option>Selectionner</option>
              <option *ngFor="let group of groups" value={{group.id}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="fonctionalite_id">Fonctionalité</label>
          <div class="input-group">
            <select id="fonctionalite_id" name="fonctionalite_id" class="form-control" ngModel placeholder="Selectionner">
              <option>Selectionner</option>
              <option *ngFor="let fonctionnalite of fonctionnalites" value={{fonctionnalite.id}}>{{fonctionnalite.libelle}}</option>
            </select>
          </div>
        </div>
        <!------------------------------------------->
        <div class="row">
            <div class="col-md-3">
                  <div class="form-group">
                    <div class="input-group">
                      <span>Consultation </span><input type="checkbox" id="view" formControlName="view"  class="form-control" value="1" ngModel>
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <span>Ajout </span><input type="checkbox" id="add" formControlName="add"  class="form-control" value="1" ngModel>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <span>Modification</span><input type="checkbox" id="edit" formControlName="edit"  class="form-control" value="1" ngModel>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <span>Suppression </span><input type="checkbox" id="remove" formControlName="remove"  class="form-control" value="1" ngModel>
                  </div>
                </div>
            </div>
        </div>
        <!------------------------------------------->
        <div class="border text-center">
          <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
    </div>
  </ng-template>
  <!--------------------------MODAL NG TEMPLATE priv DETAILS------------------------------------>
  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">priv de passation details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Nom & Prénom(s)</label>
          <div class="input-group">
            <input type="text" id="name_detail" name="name" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="privname">Login</label>
          <div class="input-group">
            <input type="text" id="privname_detail" name="privname" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <input type="text" id="password_detail" name="password" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="telphone">Téléphone</label>
          <div class="input-group">
            <input id="telephone_detail" name="telphone" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <div class="input-group">
            <input id="email_detail" name="email" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="adresse">Adresse</label>
          <div class="input-group">
            <input  id="adresse_detail" name="adresse" class="form-control" ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="privgroup_id">Groupe utilisateur</label>
          <div class="input-group">
            <select id="privgroupid_detail" name="privgroup_id" class="form-control" ngModel placeholder="Selectionner">
              <option>Selectionner</option>
              <option *ngFor="let group of groups" value={{group.id}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="statut">Statut</label>
          <div class="input-group">
            <select id="statut_detail" name="statut" class="form-control" ngModel placeholder="Selectionner">
              <option>Selectionner</option>
              <option value="1">Activer</option>
              <option value="2">Desactiver</option>
            </select>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
    </div>
  </ng-template>
  <!--------------------------MODAL NG TEMPLATE priv EDIT---------------------------------->
  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modification de privilège</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="form-group">
         <label for="id">Id</label>
         <div class="input-group">
            <input formControlName="id" class="form-control">
         </div>
         </div>
         <div class="form-group">
          <label for="usergroup_id">Groupe utilisateur</label>
          <div class="input-group">
            <select formControlName="usergroup_id" class="form-control" placeholder="Selectionner">
              <option>Selectionner</option>
              <option *ngFor="let group of groups" value={{group.id}}>{{group.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="fonctionalite_id">Fonctionalité</label>
          <div class="input-group">
            <select formControlName="fonctionalite_id" class="form-control" placeholder="Selectionner">
              <option>Selectionner</option>
              <option *ngFor="let fonctionnalite of fonctionnalites" value={{fonctionnalite.id}}>{{fonctionnalite.libelle}}</option>
            </select>
          </div>
        </div>
        <!------------------------------------------->
        <div class="row">
            <div class="col-md-3">
                  <div class="form-group">
                    <div class="input-group">
                      <span>Consultation </span><input type="checkbox" formControlName="view" class="form-control" value="1">
                    </div>
                  </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <span>Ajout </span><input type="checkbox" formControlName="add" class="form-control" value="1">
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <span>Modification</span><input type="checkbox" formControlName="edit" class="form-control" value="1">
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <div class="input-group">
                    <span>Suppression </span><input type="checkbox" formControlName="remove" class="form-control" value="1">
                  </div>
                </div>
            </div>
        </div>
        <!------------------------------------------->


        <div class="border text-center"> <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Modifer</button> </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
    </div>
  </ng-template>

  <!--------------------------MODAL NG TEMPLATE DELETE CONFIRM--------------------------------->
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Etes vous sur de vouloir supprimmer cette donnée de la base ?</h3>
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Oui, Supprimer!</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

</div>
<app-footer></app-footer>

