<app-headerproc [deviceXs]="deviceXs"></app-headerproc>
<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-toolbar>
    <button *ngIf="deviceXs" type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p *ngIf="!deviceXs" >Dossier N° : {{dossiers['numero_doss']}}  | {{dossiers['intitule_doss']}}</p>
    <p *ngIf="deviceXs" class="font-size">Dossier N° : {{dossiers['numero_doss']}} </p>
  </mat-toolbar>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="deviceXs?'over':'side'" [opened]="deviceXs?false:true" position="start" fxFlex="40"
      fxLayout="column" fxLayoutAlign="start space-between" [style.marginTop.px]="10" [style.top.px]="sideBarScroll()">
       <!--Menu Selection-->
       <app-selec-menu></app-selec-menu>
       <!------------------>
    </mat-drawer>
    <mat-drawer-content>

      <div class="example-sidenav-content" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">

        <!------------------------Title bar------------------------------------------>
        <mat-toolbar>
          <mat-toolbar-row style="position:fixed;top:18%;background-color:#9f9f9f;color:#fff">
            <span>Publication avis</span>
            <span class="example-spacer"></span>
          </mat-toolbar-row>
          <mat-toolbar-row>
          </mat-toolbar-row>
        </mat-toolbar>
          <!--------------------------------Search--------------------------------->
          <mat-toolbar>
            <mat-toolbar-row style="position:fixed;top:27%;background-color:#fff;">
            <button class="btn btn-sm btn-info" (click)="open(content)"><mat-icon>add</mat-icon></button>
            <div class="form-group search-div">
              <div class="row">
              <input type="text" class="form-control col-md-6" placeholder="recherche" [(ngModel)]="query" id="listSearch">
              <mat-icon matSuffix>search</mat-icon>
            </div>
            </div>


          </mat-toolbar-row>
        </mat-toolbar>
        <!--------------------------------->

        <!--<div class="border">
          <button (click)="open(content)" class="btn btn-md btn-outline-primary">
            Ajouter</button>
        </div>-->
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Date courrier</th>
            <th>Intitule</th>
            <th>Fichier</th>
            <th>Action(s)</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let courrier of courriers | filter: query | paginate :{itemsPerPage : tableSize,currentPage: page,totalItems : count}">
            <td><span>{{courrier.id}}</span></td>
            <td><span>{{courrier.date_courrier | date:'dd/MM/y'}}</span></td>
            <td><span>{{courrier.objet}}</span></td>
            <td><span *ngIf="courrier.fichier"><a title="Courrier" target="_blank" href="{{url}}{{courrier.fichier}}"><mat-icon>file_copy</mat-icon></a></span></td>
            <td>
              <button (click)="openEdit(contentEdit, courrier)" class="btn btn-sm btn-warning">
               Modifier</button>
              <button (click)="openDelete(contentDelete, courrier)"class="btn btn-sm btn-danger">
                Supprimer</button>

            </td>
          </tr>
          <tr>
            <td colspan="2">
              <select (change)="onTableSizeChange($event)">
                <option *ngFor="let size of tableSizes">
                  {{size}}
                </option>
              </select>
              </td>
              <td colspan="3">
              <pagination-controls
              previousLabel = "Précédent"
              nextLabel = "Suivant"
              (pageChange)="onTableDataChange($event)"></pagination-controls>
            </td>
          </tr>
          </tbody>
        </table>

        <!--------------------------MODAL NG TEMPLATE ADD NEW courrier------------------------------------>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Ajouter</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div class="row">
                  <input type="hidden" id="dossier_id" name="dossier_id" class="form-control" [(ngModel)]="dossierid">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="date_courrier">Date courrier</label>
                      <div class="input-group">
                        <input type="date" id="date_courrier" name="date_courrier" class="form-control" ngModel>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="objet">Objet</label>
                      <div class="input-group">
                        <textarea id="objet" name="objet" class="form-control" ngModel></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                        <label for="fichier">Fichier</label>
                        <div class="input-group">
                            <input type="file" id="fichier" name="fichier" (change)="selectImage($event)" class="form-control" ngModel/>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info">Enregistrer</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            </div>
        </ng-template>
        <!--------------------------MODAL NG TEMPLATE courrier DETAILS------------------------------------>
        <ng-template #contentDetails let-modal>

        </ng-template>
        <!--------------------------MODAL NG TEMPLATE courrier EDIT---------------------------------->
        <ng-template #contentEdit let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Modification courriers de publicatiion</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form  [formGroup]="editForm" novalidate>
              <div class="row">
                <input type="hidden" formControlName="id" class="form-control">
                <input type="hidden"formControlName="dossier_id" class="form-control">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="date_courrier">Date courrier</label>
                    <div class="input-group">
                      <input type="date" formControlName="date_courrier" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="objet">Objet</label>
                    <div class="input-group">
                      <textarea formControlName="objet" class="form-control"></textarea>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                      <label for="fichier">Fichier</label>
                      <div class="input-group">
                          <input type="file" formControlName="fichier" (change)="selectImage($event)" class="form-control"/>
                      </div>
                  </div>
                </div>
            </div>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Modifer</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
            </div>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </ng-template>

        <!--------------------------MODAL NG TEMPLATE DELETE CONFIRM--------------------------------->
        <ng-template #contentDelete let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Etes vous sur de vouloir supprimmer cette donnée de la base ?</h3>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Valider</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>

            </div>
          </div>
          <div class="modal-footer">
               </div>
        </ng-template>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</article>

