<app-header></app-header>
<!------------------------Title bar------------------------------------------>
<mat-toolbar>
  <mat-toolbar-row style="position:fixed;top:8%;background-color:#9f9f9f;color:#fff">
    <span>Fournisseur</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <!--------------------------------Search--------------------------------->
  <mat-toolbar>
    <mat-toolbar-row style="position:fixed;top:17%;background-color:#fff;">
    <button  *ngIf="add == 1"  class="btn btn-sm btn-info" (click)="open(content)">Ajouter</button>
    <div class="form-group search-div">
      <div class="row">
      <input type="text" class="form-control col-md-6" placeholder="recherche" [(ngModel)]="query" id="listSearch">
      <mat-icon matSuffix>search</mat-icon>
    </div>
    </div>


  </mat-toolbar-row>
</mat-toolbar>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>

      <th>Nom fournisseur/prestataire</th>
      <th>RCCM</th>
      <th>IFU</th>
      <th>Téléphone 1</th>
      <th>Téléphone 2</th>
      <th>Type</th>
      <th>Action(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fournisseur of fournisseurs | filter: query | paginate :{itemsPerPage : tableSize,currentPage: page,totalItems : count}">

      <td><span>{{fournisseur.nom_four}}</span></td>
      <td><span>{{fournisseur.rccm}}</span></td>
      <td><span>{{fournisseur.ifu}}</span></td>
      <td><span>{{fournisseur.telephone1}}</span></td>
      <td><span>{{fournisseur.telephone2}}</span></td>
      <td><span>{{fournisseur.type}}</span></td>
      <td>
        <!--<button (click)="openDetails(contentDetails, fournisseur)"  class="btn btn-sm btn-info">
          Details</button>-->
        <button *ngIf="edit == 1" (click)="openEdit(contentEdit, fournisseur)" class="btn btn-sm btn-warning">
          Modifier</button>
        <button *ngIf="remove == 1" (click)="openDelete(contentDelete, fournisseur)"class="btn btn-sm btn-danger">
          Supprimer</button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <select (change)="onTableSizeChange($event)">
          <option *ngFor="let size of tableSizes">
            {{size}}
          </option>
        </select>
        </td>
        <td colspan="6">
        <pagination-controls
        previousLabel = "Précédent"
        nextLabel = "Suivant"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
      </td>
      </tr>
    </tbody>
  </table>

  <!--------------------------MODAL NG TEMPLATE ADD NEW fournisseur------------------------------------>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nom_four">Nom fournisseur/prestataire</label>
                <div class="input-group">
                  <input type="text" id="nom_four" name="nom_four" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="rccm">RCCM</label>
                <div class="input-group">
                  <input type="text" id="rccm" name="rccm" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="ifu">IFU</label>
                <div class="input-group">
                  <input type="text" id="ifu" name="ifu" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="telephone1">Téléphone 1</label>
                <div class="input-group">
                  <input type="text" id="telephone1" name="telephone1" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="telephone2">Téléphone 2</label>
                <div class="input-group">
                  <input type="text" id="telephone2" name="telephone2" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="adresse">Adresse</label>
                <div class="input-group">
                  <textarea id="adresse" name="adresse" class="form-control" ngModel></textarea>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <input id="email" name="email" class="form-control" ngModel>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="domaine">Domaine d'activité</label>
                <div class="input-group">
                  <textarea name="domaine" class="form-control" ngModel></textarea>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="type">Type</label>
                <div class="input-group">
                  <select id="type" name="type" class="form-control" ngModel>
                    <option>Selectionner</option>
                    <option  value="Consultant">Consultant</option>
                    <option  value="Entreprise">Entreprise</option>
                    <option  value="Groupement">Groupement</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
          <div class="border text-center">
            <button data-dismiss="modal" class="btn btn-info">Enregistrer</button>
          </div>
      </form>
    </div>
    <div class="modal-footer">

         </div>
  </ng-template>
  <!--------------------------MODAL NG TEMPLATE fournisseur DETAILS------------------------------------>
  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Fournisseur/Prestataire details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
            <label for="id_detail">Id</label>
            <div class="input-group">
                <input id="id_detail" class="form-control" readonly>
            </div>
          </div>
          </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="nom_four_detail">Nom fournisseur/prestataire</label>
                <div class="input-group">
                  <input id="nom_four_detail" class="form-control" readonly>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="type_detail">Type</label>
                <div class="input-group">
                  <input id="type_detail" class="form-control" readonly>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('cancel click')">Annuler</button>
    </div>
  </ng-template>
  <!--------------------------MODAL NG TEMPLATE fournisseur EDIT---------------------------------->
  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modifier un fournisseur / prestataire</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm" novalidate>
        <div class="row">
          <input type="hidden" id="id" name="id" class="form-control">

          <div class="col-md-6">
            <div class="form-group">
              <label for="nom_four">Nom fournisseur/prestataire</label>
              <div class="input-group">
                <input formControlName="nom_four" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="rccm">RCCM</label>
              <div class="input-group">
                <input formControlName="rccm" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="ifu">IFU</label>
              <div class="input-group">
                <input formControlName="ifu" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="telephone1">Téléphone 1</label>
              <div class="input-group">
                <input formControlName="telephone1" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="telephone2">Téléphone 2</label>
              <div class="input-group">
                <input formControlName="telephone2" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="adresse">Adresse</label>
              <div class="input-group">
                <textarea formControlName="adresse" class="form-control"></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email</label>
              <div class="input-group">
                <input formControlName="email" class="form-control">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="domaine">Domaine d'activité</label>
              <div class="input-group">
                <textarea formControlName="domaine" class="form-control"></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                <label for="type">Type</label>
                <div class="input-group">
                  <select formControlName="type"  class="form-control">
                    <option>Selectionner</option>
                    <option  value="Consultant">Consultant</option>
                    <option  value="Entreprise">Entreprise</option>
                    <option  value="Groupement">Groupement</option>
                  </select>
                </div>
            </div>
         </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="border text-center"> <button data-dismiss="modal" class="btn btn-info" (click)="onSave()" >Modifer</button> </div>
    </div>
  </ng-template>

  <!--------------------------MODAL NG TEMPLATE DELETE CONFIRM--------------------------------->
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Message de confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Etes vous sur de vouloir supprimmer cette donnée de la base ?</h3>

    </div>
    <div class="modal-footer">
      <div class="border text-center">
        <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Valider</button>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
    </div>
  </ng-template>

</div>
<app-footer></app-footer>

