/*.border {
  border: 1px solid #dee2e6 !important;
  width: 10%;
}*/
/*--------------------------*/
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 100% !important;
  min-width: 500px  !important;
  width: 100%  !important;
}
/*-----*/
.titre{
  position:fixed;
  text-align: center;
  color:black;
  margin: 0 auto;
}

.rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/*filter controls*/
.search-div{
  margin:2% 15%;
}
.search-form-field{
  width: 35%;
  margin-left:10px;
  padding:0px 5px;
  background-color: #f5f5f5;
  border-radius: 5px;

}

.search-form-field{margin-right:5px;}

.search-div button{margin-right:5px;}

.search-form-field div.mat-form-field-underline{display:none;}
.search-form-field div.mat-form-field-infix{border-top:0;}
.search-form-field div.mat-form-field-wrapper{padding-bottom:0;}
.search-form-field div.mat-form-field-suffix button{width: 32px; height: 32px;}


.table tbody tr td .alpha{max-width:450px !important;}
